*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:  sans-serif;
    background-color: rgb(228, 216, 223);
     height:100vh; 
    display:flex;
   
    justify-content: 50px right;
    align-items:center;
    flex-direction: column;
}
 form{
    display:flex;
} 

.container--button{
    background-color: aqua;
    border:none;

} 

.container--button:hover{
    background-color: blue;

}
.container--details{
    max-width:100%;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.6);
}
